{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block content %}
<div class="container content-container">
    <h1 class="centered-content">Edit Your Booking</h1>

    <!-- Display current booking details -->
    <div class="col-12 offset-md-2 col-md-8">
        <h3>Booking Details</h3>
        <table class="table" aria-labelledby="booking-details">
            <caption id="booking-details" class="sr-only">Booking Details</caption>
            <tr>
                <th scope="row">Booking ID:</th>
                <td>{{ booking.id }}</td>
            </tr>
            <tr>
                <th scope="row">User:</th>
                <td>{{ booking.user.username }}</td>
            </tr>
            <tr>
                <th scope="row">Date:</th>
                <td>{{ booking.date }}</td>
            </tr>
            <tr>
                <th scope="row">Time:</th>
                <td>{{ booking.time }}</td>
            </tr>
            <tr>
                <th scope="row">Number of People:</th>
                <td>{{ booking.number_of_people }}</td>
            </tr>
            <tr>
                <th scope="row">Additional Notes:</th>
                <td>{{ booking.additional_notes|default:"No additional notes" }}</td>
            </tr>

            {% if user.is_staff %}
            <tr>
                <th scope="row">Status:</th>
                <td>{{ booking.get_status_display }}</td>
            </tr>
            <tr>
                <th scope="row">Assigned Table:</th>
                <td>
                    {% if booking.table %}
                    {{ booking.table.table_number }}
                    {% else %}
                    Not Assigned
                    {% endif %}
                </td>
            </tr>
            {% endif %}
        </table>
    </div>

    <hr>

    {% if is_customer %}
    {% if booking.status == 'customer_confirmation_required' %}
    <!-- Customer-specific form for confirming or canceling booking -->
    <h3>Confirm or Cancel Your Booking</h3>
    <form method="POST">
        {% csrf_token %}
        {{ booking_form | crispy }}
        <button type="submit" class="btn btn-signup btn-submit btn-lg"
            aria-label="Submit your changes to the booking.">Submit</button>
    </form>
    <hr>
    <a href="{% url 'customer_dashboard' user_id=request.user.id %}" class="btn btn-secondary btn-lg" role="button"
        aria-label="Cancel the edit and go back to the menu page.">Cancel</a>
    <hr>
    {% else %}
    <!-- Customer-specific form for updating other booking details -->
    <h3>Update Your Booking</h3>
    <form method="POST">
        {% csrf_token %}
        {{ booking_form | crispy }}
        <button type="submit" class="btn btn-signup btn-submit btn-lg"
            aria-label="Submit your changes to the booking.">Submit</button>
    </form>
    <hr>
    <a href="{% url 'customer_dashboard' user_id=request.user.id %}" class="btn btn-secondary btn-lg" role="button"
        aria-label="Cancel the edit and go back to the menu page.">Cancel</a>
    <hr>
    {% endif %}
    {% else %}
    <!-- Table Availability Section -->
    <h3>Table Availability for {{ booking.date }}</h3>

    <!-- Key for Availability -->
    <div class="key">
        <span class="key-item green">Available</span>
        <span class="key-item red">Occupied</span>
    </div>

    <!-- Table with Horizontal Scrolling -->
    <div class="table-responsive">
        <table class="table-availability table-bordered">
            <thead>
                <tr>
                    <th class="sticky-column">Table</th>
                    {% for time_slot in time_slots %}
                    <th>{{ time_slot }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for table in table_availability %}
                <tr>
                    <td class="sticky-column">{{ table.table_number }}</td>
                    {% for slot in table.slots %}
                    <td class="{% if slot.status == 'Available' %}green{% else %}red{% endif %}">
                    </td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <hr>

    <!-- Staff-specific form for updating table and status -->
    <h3>Staff Update Booking</h3>
    <form method="POST">
        {% csrf_token %}
        {{ staff_form | crispy }}
        <button type="submit" class="btn btn-signup btn-submit btn-lg"
            aria-label="Submit your changes to the booking.">Submit</button>
    </form>
    <hr>
    <a href="{% url 'manage_bookings' %}" class="btn btn-secondary btn-lg" role="button"
        aria-label="Cancel the edit and go back to the menu page.">Cancel</a>
    <hr>
    {% endif %}

</div>
{% endblock content %}