/* import fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* ----------------- Global Styles --------------------- */
body {
    font-family: 'Open Sans', sans-serif;
    background-color: #F5F5F5;
    color: #2C2C2C;
    margin: 0;
    padding: 0;
}

/* --------------------- Header Styling --------------------- */
header {
    background-color: #212121;
    padding: 10px 0;
}

.navbar-brand {
    font-family: 'Montserrat', sans-serif; 
    font-size: 1.5rem;
    color: #D32F2F; 
    text-transform: uppercase;
}

.navbar-nav .nav-link {
    font-size: 1rem;
    color: #FFFFFF;
    text-transform: uppercase;
    letter-spacing: 0.05rem;
}

.navbar-nav .nav-link:hover {
    color: #D32F2F;
}

.navbar-nav .nav-link.active {
    color: #FFFFFF;
    font-weight: bold;
    text-decoration: underline;
}

.navbar-toggler {
    background-color: #FFFFFF;
    border-radius: 5px;
}

/* ------------------- Hero Section ---------------------- */

/* Hero Section */
.hero {
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url('../images/pexels-markarronsmith-3768841.jpg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
}

/* Hero Content Styling */
.hero-content {
    z-index: 2;
    position: relative;
    padding: 20px;
    max-width: 900px;
    width: 90%;
    text-align: center;
}

/* Brand Logo */
.hero-content h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    font-weight: 600;
    letter-spacing: 2px;
    margin-bottom: 20px;
    text-transform: uppercase;
    color: #D32F2F;
}

/* Description Text */
.description {
    font-size: 1.25rem;
    margin-bottom: 30px;
}

/* Button Styling */
.buttons .btn {
    background-color: #D32F2F;
    color: #fff;
    padding: 12px 30px;
    margin: 10px 15px;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
    border-radius: 5px;
}

.buttons .btn:hover {
    background-color: #B71C1C;
}

.hero-content h1, .hero-content p {
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
}