/* import fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* ----------------- Global Styles --------------------- */
body {
    font-family: 'Open Sans', sans-serif;
    background-color: #333333;
    color: #F5F5F5;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    color: #FFD700;
}

h1 {
    margin: 20px auto;
}

.centered-content {
    text-align: center;
}

.content-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.child-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* Distribute space between child elements */
    flex-grow: 1;
    /* Allow child-container to grow and fill available space */
}

.child-container>div {
    flex: 1;
    /* Make each div inside .child-container take equal height */
    padding: 20px;
    overflow-y: auto;
    /* Ensure content can scroll if it exceeds available space */
}

.buttons .btn {
    background-color: #FFD700;
    color: #333;
    padding: 12px 30px;
    margin: 10px 15px;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
    border-radius: 5px;
    border: 2px solid transparent;
    /* Transparent border initially */
    box-sizing: border-box;
    /* Include padding and border in element's total size */
}

.buttons .btn:hover {
    background-color: #333;
    color: #FFD700;
    border: 2px solid #FFD700;
}

.table-wrapper {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    /* For smooth scrolling on iOS */
    margin-bottom: 20px;
    /* Optional, to give space below the table */
}

.custom-table th,
.custom-table td {
    width: 100px;
    /* Fixed width for uniform cells */
    height: 60px;
    /* Fixed height for uniform cells */
    text-align: center;
    /* Center the content */
    vertical-align: middle;
    /* Center text vertically */
    padding: 0;
    /* Remove extra padding */
}

.custom-scrollable {
    max-height: 400px;
    overflow-y: auto;
}

/* --------------------- Header Styling --------------------- */
header {
    position: sticky;
    top: 0;
    z-index: 99;
    background-color: rgba(33, 33, 33, 0.7);
    padding: 10px 0;
}

.navbar {
    text-transform: uppercase;
    text-align: center;
}

.navbar-nav {
    display: flex;
    align-items: center;
}

.navbar-brand {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    color: #FFD700;
}

.navbar-brand img {
    width: 100px;
    /* Adjust width */
    height: auto;
    /* Maintain aspect ratio */
}

.navbar-nav .nav-link {
    font-size: 1rem;
    color: #F5F5F5;
    letter-spacing: 0.05rem;
}

.navbar-nav .nav-link:hover {
    color: #FFD700;
}

.navbar-nav .nav-link.active {
    color: #FFD700;
    font-weight: 600;
    text-decoration: underline;
}

.navbar-toggler {
    background-color: #0b0b0b;
    border-radius: 5px;
}

/* ------------------- Footer Section ---------------------- */
footer {
    background-color: #212121;
    padding: 40px 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer h5 {
    font-weight: 600;
    margin-bottom: 20px;
}

footer p,
footer ul {
    font-size: 1rem;
    line-height: 1.5;
}

footer ul {
    padding-left: 0;
    list-style-type: none;
}

footer.bg-dark img {
    width: 100%;
    /* max-width: 320px; */
    /* height: auto; 
    object-fit: contain;  */
}

footer .social-media a {
    font-size: 1.5rem;
    margin-right: 15px;
}

footer .social-media a:hover {
    color: #FFD700;
}

/* -------------------------------- Sign up Specific ----------------------------------- */
.signup input[type="text"],
.signup input[type="email"],
.signup input[type="password"],
.signup textarea {
    width: 100%;
    padding: 12px;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid #ddd;
    margin-top: 5px;
    box-sizing: border-box;
}

.signup input[type="text"]:focus,
.signup input[type="email"]:focus,
.signup input[type="password"]:focus,
.signup textarea:focus {
    border-color: #FFD700;
    outline: none;
}

/* -------------------------------- Login Specific ----------------------------------- */
.login input[type="text"],
.login input[type="email"],
.login input[type="password"] {
    width: 100%;
    padding: 12px;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid #ddd;
    margin-top: 5px;
    box-sizing: border-box;
}

.login input[type="text"]:focus,
.login input[type="email"]:focus,
.login input[type="password"]:focus {
    border-color: #FFD700;
    outline: none;
}

/* -------------------------------- Homepage Specific ----------------------------------- */
/* ------------------- Hero Section ---------------------- */
.hero {
    position: relative;
    top: -82px;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    animation: backgroundCarousel 15s infinite;
    transition: background-image 1s ease-in-out;
    /* Smooth transition for image change */
}

/* Keyframes for changing background images */
@keyframes backgroundCarousel {
    0% {
        background-image: url('../images/pexels-joel-zar-307187367-14508487_mobile.jpg');
    }

    33% {
        background-image: url('../images/mobile_optimized_image_3.jpg');
    }

    66% {
        background-image: url('../images/mobile_optimized_image_2.jpg');
    }

    100% {
        background-image: url('../images/pexels-joel-zar-307187367-14508487_mobile.jpg');
    }
}

.hero-content {
    z-index: 2;
    position: relative;
    padding: 20px;
    max-width: 900px;
    width: 90%;
    text-align: center;
    background-color: rgba(33, 33, 33, 0.9);
}

.hero-content h1 {
    font-size: 3rem;
    font-weight: 600;
    letter-spacing: 2px;
    margin-bottom: 20px;
}

.description {
    font-size: 1.25rem;
    margin-bottom: 30px;
}

/* .buttons .btn {
    background-color: #FFD700;
    color: #333;
    padding: 12px 30px;
    margin: 10px 15px;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
    border-radius: 5px;
}

.buttons .btn:hover {
    background-color: #333;
    color: #FFD700;
} */

.hero-content h1,
.hero-content p {
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
}

/* -------------------- Features Section (Cards) ------------------- */
.features .card {
    background-color: #444444;
    /* color: #F5F5F5; */
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 20px;
    height: 300px;
}

.features .card-body {
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.features .card-title {
    font-size: 1.25rem;
    color: #FFD700;
    font-weight: 600;
    margin-bottom: 20px;
}

.features .card-text {
    font-size: 1rem;
    color: #F5F5F5;
    line-height: 1.5;
}

/* No hover effect on cards */
.features .card:hover {
    box-shadow: none;
}

/* --------------------- About Section ------------------- */
.our-story-card {
    background-color: #444444;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.our-story-card h2 {
    font-size: 2rem;
    font-weight: 600;
    color: #FFD700;
    margin-bottom: 20px;
}

.our-story-card p {
    font-size: 1rem;
    line-height: 1.6;
    color: #F5F5F5;
    margin-bottom: 15px;
}

/* --------------------- Button Section ------------------- */
.btn-container .buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 30px;
}



/* -------------------------------- Dashboard Specific ----------------------------------- */
/* --------------------- Staff Dashboard ------------------- */
/* Key for availability status */
.key {
    margin-bottom: 20px;
    font-size: 14px;
}

.key-item {
    margin-right: 10px;
    padding: 5px;
}

.green {
    background-color: #28a745;
    /* Green color */
}

.red {
    background-color: #dc3545;
    /* Red color */
}

table td.green {
    background-color: #28a745;
    /* Green for Available */

}

table td.red {
    background-color: #dc3545;
    /* Red for Occupied */
}

/* Equal size for each cell */
.table-availability th,
.table-availability td {
    width: 60px;
    /* Fixed width for uniform cells */
    height: 60px;
    /* Fixed height for uniform cells */
    text-align: center;
    /* Center the content */
    vertical-align: middle;
    /* Center text vertically */
    padding: 0;
    /* Remove extra padding */
}

/* Table Responsive (horizontal scrolling) */
.table-responsive {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}

table {
    width: 100%;
    table-layout: fixed;
    /* Ensures columns have uniform width */
}

.sticky-column {
    position: sticky;
    left: 0;
    background-color: #333333;
    z-index: 2; 
  }

/* -------------------------------- Menu Specific ----------------------------------- */


.menu-item {
    background-color: #444444;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
}

.menu-item h4 {
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 10px;
    line-height: 1.3;
}

.menu-item p {
    font-size: 1rem;
    /* color: #F5F5F5; */
    margin-bottom: 10px;
    line-height: 1.6;
}

.category-section p {
    font-style: italic;
}

/* Image Container */
/* .image-container {
    max-width: 200px;
    max-height: 200px;
}

.image-container img {
    max-width: 200px;
    max-height: 200px;
} */

/* ----------- Form Styles -------------- */
.hidden {
    display: none;
}

.category-form {
    background-color: #444444;
}

#menuItemForm {
    /* background-color: #444444; */
    padding: 15px;
    margin-top: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 15px;
}

label {
    font-size: 1rem;
    color: #F5F5F5;
    font-weight: bold;
}

input[type="text"],
input[type="number"],
textarea {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid #ddd;
    box-sizing: border-box;
    margin-top: 5px;
}

input[type="text"]:focus,
input[type="number"]:focus,
textarea:focus {
    border-color: #FFD700;
    outline: none;
}

.btn-submit {
    background-color: #FFD700;
    color: #333;
    font-weight: bold;
    padding: 12px 25px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-top: 20px;
}

/* .buttons .btn:hover {
    background-color: #333;
    color: #FFD700;
} */

.btn-submit:hover {
    background-color: #333;
    color: #FFD700;
}

/* Modal */
.modal-content {
    background-color: #444444;
}

/* ------------------------------------- Media Queries -------------------------------------- */

/* --------------- Tablet (768px and up) */
@media (min-width:768px) {

    footer.bg-dark img {
        width: 100%;
        max-height: 50vh;
        object-fit: contain;
    }

    .contact-info h5 {
        font-size: 22px;
    }

    .contact-info p,
    .contact-info ul {
        font-size: 20px;
    }

    .btn-container .buttons {
        flex-direction: row;
    }

    @keyframes backgroundCarousel {
        0% {
            background-image: url('../images/pexels-joel-zar-307187367-14508487_tablet.jpg');
        }

        33% {
            background-image: url('../images/pexels-ahsenilist-11279651_tablet.jpg');
        }

        66% {
            background-image: url('../images/pexels-markarronsmith-3768841_tablet.jpg');
        }

        100% {
            background-image: url('../images/pexels-joel-zar-307187367-14508487_tablet.jpg');
        }
    }
}

/* --------------- Laptop and up (920px and up) */
@media (min-width:768px) {

    .hero-content {
        max-height: 600px;
    }

    @keyframes backgroundCarousel {
        0% {
            background-image: url('../images/pexels-joel-zar-307187367-14508487_laptop.jpg');
        }

        33% {
            background-image: url('../images/pexels-ahsenilist-11279651_laptop.jpg');
        }

        66% {
            background-image: url('../images/pexels-markarronsmith-3768841_laptop.jpg');
        }

        100% {
            background-image: url('../images/pexels-joel-zar-307187367-14508487_laptop.jpg');
        }
    }
}