{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container content-container">
    <h1 class="centered-content">Edit Menu Item</h1>
    <div class="child-container">

        <div class="menu-item-edit">
            <h3>Edit {{ menu_item.name }}</h3>

            <!-- Form for editing the menu item -->
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ menu_item_form | crispy }}

                <!-- Current Image Display -->
                <div class="form-group">
                    <div class="row">
                        <div class="col-12 offset-md-2 col-md-8">
                            <!-- Label for the current image -->
                            <label for="id_image" id="current-image-label">Current Image:</label>
                            <div class="image-container">
                                <!-- Image displayed with alt text describing the menu item -->
                                <img src="{{ menu_item.image.url }}" alt="{{ menu_item.name }} image"
                                    id="current-image">
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Submit button for the form with an accessible label -->
                <button type="submit" class="btn btn-signup btn-submit btn-lg"
                    aria-label="Submit your changes to the menu item.">Submit</button>
            </form>

            <hr>

            <!-- Cancel Button that redirects back to the menu page -->
            <a href="{% url 'menu' %}" class="btn btn-secondary btn-lg" role="button"
                aria-label="Cancel the edit and go back to the menu page.">Cancel</a>
        </div>
    </div>
</div>
{% endblock content %}