{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container">
    <h1 class="centered-content">Edit Menu Item</h1>

    <div class="menu-item-edit">
        <h3>Edit {{ menu_item.name }}</h3>

        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ menu_item_form | crispy }}

            <!-- Current Image Display -->
            <div class="form-group">
                <label for="id_image">Current Image:</label>
                <div class="image-container">
                    <img src="{{ menu_item.image.url }}" alt="{{ menu_item.name }} image" width="200">
                </div>
            </div>

            <button type="submit" class="btn btn-primary btn-lg">Save Changes</button>
        </form>
    </div>
</div>
{% endblock content %}
