{% extends "base.html" %}

{% load static %}
{% load crispy_forms_tags %}
{% load cloudinary %}

{% block content %}

<div class="container">
    <h1 class="centered-content">Our Menu</h1>

    {% for category_label, category_items in categorised_items %}
    <div class="category-section mb-4">
        <h2>{{ category_label }}</h2>

        {% for menu_item in category_items %}
        <div class="menu-item row">
            <div class="col-12 offset-lg-2 col-lg-8">
                <h4 id="menu-item-name-{{ menu_item.id }}" class="menu-item-title" data-bs-toggle="modal"
                    data-bs-target="#menuItemModal-{{ menu_item.id }}">
                    {{ menu_item.name }}
                </h4>
                <p id="menu-item-description-{{ menu_item.id }}">{{ menu_item.description }}</p>

                <!-- Image Display -->
                <div class="image-container hidden">
                    {% if 'placeholder' in menu_item.image.url %}
                    <img src="{% static 'images/placeholder.jpg' %}" class="scale" alt="placeholder image">
                    {% else %}
                    {% cloudinary menu_item.image quality='auto' width=200 height=200 crop='pad' background='gen_fill:ignore-foreground_true' alt="{{ menu_item.name }}" %}
                    {% endif %}
                </div>

                <p><strong>£<span id="menu-item-price-{{ menu_item.id }}">{{ menu_item.price }}</span></strong></p>
                <p class="hidden" id="menu-item-is-available-{{ menu_item.id }}">{{ menu_item.is_available }}</p>
            </div>

            <!-- Modal for each menu item -->
            <div class="modal fade" id="menuItemModal-{{ menu_item.id }}" tabindex="-1"
                aria-labelledby="menuItemModalLabel-{{ menu_item.id }}" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="menuItemModalLabel-{{ menu_item.id }}">{{ menu_item.name }}</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <img src="{{ menu_item.image.url }}" alt="{{ menu_item.name }}" class="img-fluid">
                            <h5>Description:</h5>
                            <p>{{ menu_item.description }}</p>
                            <h5>Price:</h5>
                            <p>£{{ menu_item.price }}</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>

            {% if user.is_authenticated and user.is_superuser %}
            <div>
                <!-- Edit & Delete Buttons -->
                <div class="row mb-2">
                    <div class="col-12 offset-lg-2 col-lg-8">
                        <a href="{% url 'edit_menu_item' menu_item.id %}" class="btn btn-warning btn-sm">
                            <i class="fas fa-cogs"></i> Edit
                        </a>
                        <a href="#" class="btn btn-danger btn-sm delete-btn" data-menu-item-id="{{ menu_item.id }}">
                            <i class="fas fa-trash-alt"></i> Delete
                        </a>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
        {% endfor %}

        {% if user.is_authenticated and user.is_superuser %}
        <div>
            <!-- Link to create a new menu item -->
            <a href="{% url 'create_menu_item' category_label|lower %}" class="btn btn-success">
                <i class="fas fa-plus"></i> Add New {{ category_label }}
            </a>
        </div>
        {% endif %}
    </div>
    <hr>
    {% endfor %}

    <!-- Delete confirmation modal -->
    <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel">Delete Menu Item?</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Are you sure you want to delete this menu item? This action cannot be undone.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <a id="delete-confirm" href="#" class="btn btn-danger">Delete</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Allergens and Intolerances Disclaimer Section -->
    <section class="disclaimer-section">
        <h5>Allergens and Intolerances Disclaimer:</h5>
        <p>Our dishes may contain or come into contact with common allergens such as nuts, dairy, gluten, etc. Please
            speak to a member of staff if you have any food allergies or intolerances before placing your order.</p>
    </section>

</div>

{% endblock content %}

{% block extras %}
<script src="{% static 'js/menu.js' %}"></script>
{% endblock %}