{% extends "base.html" %}

{% load static %}

{% block content %}
<!-- Main container for the user's dashboard -->
<div class="container content-container">
    <div class="row">
        <div class="col-12">
            <!-- User's dashboard header -->
            <h1 class="centered-content">{{ user.username }}'s Dashboard</h1>
        </div>
    </div>

    <div class="child-container">
        <!-- Customer Action Required Bookings Section -->
        <div>
            {% if customer_action_required_bookings %}
            <section>
                <h2 class="centered-content">Customer Action Required</h2>
                <p class="centered-content">
                    Unfortunately, the requested time was unavailable. Please review the time change in the booking.
                    <strong>Click Edit to confirm/cancel the booking</strong>.
                </p>
                <div class="table-wrapper">
                    <table class="table custom-table">
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th>Time</th>
                                <th>Number of People</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for booking in customer_action_required_bookings %}
                            <tr>
                                <td>{{ booking.date }}</td>
                                <td>{{ booking.time }}</td>
                                <td>{{ booking.number_of_people }}</td>
                                <td>
                                    <!-- Edit and delete actions for customer action required bookings -->
                                    <a href="{% url 'edit_booking' booking.id %}" class="btn btn-warning"
                                        aria-label="Edit Booking">Edit</a>
                                    <a href="#" class="btn btn-danger delete-btn" data-booking-id="{{ booking.id }}"
                                        data-bs-toggle="modal" data-bs-target="#deleteModal"
                                        aria-label="Delete Booking">Delete</a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </section>
            <p class="centered-content">
                If there are any other issues, please contact the restaurant via phone/email. <br>
                We appreciate your understanding.
            </p>
            {% endif %}
        </div>

        <!-- Upcoming Bookings Section -->
        <div>
            <section>
                <h2 class="centered-content">Upcoming Bookings</h2>
                <p class="centered-content">
                    Feel free to amend your booking as required - scroll across the table and click Edit.
                </p>
                <table class="table custom-table">
                    {% if upcoming_bookings %}
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Time</th>
                            <th>Number of People</th>
                            <th>Status</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for booking in upcoming_bookings %}
                        <tr>
                            <td>{{ booking.date }}</td>
                            <td>{{ booking.time }}</td>
                            <td>{{ booking.number_of_people }}</td>
                            <td>{{ booking.status }}</td>
                            <td>
                                <!-- Edit and delete actions for upcoming bookings -->
                                <a href="{% url 'edit_booking' booking.id %}" class="btn btn-warning"
                                    aria-label="Edit Booking">Edit</a>
                                <a href="#" class="btn btn-danger delete-btn" data-booking-id="{{ booking.id }}"
                                    data-bs-toggle="modal" data-bs-target="#deleteModal"
                                    aria-label="Delete Booking">Delete</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                    {% else %}
                    <tbody>
                        <tr>
                            <td colspan="5">No upcoming bookings.</td>
                        </tr>
                    </tbody>
                    {% endif %}
                </table>
                <p class="centered-content">
                    <em>Please Note: if a booking is changed, it will require staff approval</em>
                </p>
            </section>
        </div>

        <!-- Buttons Section for booking actions -->
        <div>
            <div class="btn-container">
                <div class="buttons">
                    <!-- Button to book a table -->
                    <a href="{% url 'book_table' %}" class="btn" role="button"
                        aria-label="Book a table at Cedar & Flame">Book a Table</a>
                    <!-- Button to view the menu -->
                    <a href="{% url 'menu' %}" class="btn" role="button" aria-label="View Cedar & Flame menu">View
                        Menu</a>
                </div>
            </div>
        </div>

        <!-- Past Bookings Section -->
        <div>
            <section>
                <h2 class="centered-content">Past Bookings</h2>
                {% if past_bookings %}
                <div class="table-wrapper custom-scrollable">
                    <table class="table custom-table">
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th>Time</th>
                                <th>Number of People</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for booking in past_bookings %}
                            <tr>
                                <td>{{ booking.date }}</td>
                                <td>{{ booking.time }}</td>
                                <td>{{ booking.number_of_people }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% else %}
                <p>No past bookings.</p>
                {% endif %}
            </section>
        </div>
    </div>
</div>

<!-- Delete Confirmation Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Delete Booking?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete this booking? This action cannot be undone.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                    aria-label="Close">Close</button>
                <a id="delete-confirm" href="#" class="btn btn-danger" aria-label="Confirm Deletion">Delete</a>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

{% block extras %}
<!-- JavaScript to handle booking actions -->
<script src="{% static 'js/booking.js' %}"></script>
{% endblock %}